body {
    margin: 0px;
    background-color: hsl(0, 0%, 98%);
}

h1, h2, p {
    margin: 0;
}

main {
    max-width: 1440px;
    margin: 50px 100px;
    display: grid;
    justify-content: center;
    font-family: "Poppins";
}

.frist-text {
    text-align: center;
    margin-bottom: 40px;
}

.text-1 {
    font-weight: 400;
    color: hsl(234, 12%, 34%);
}

.text-2 {
    font-weight: 600;
    color: hsl(234, 12%, 34%);
}

.frist-text p {
    margin: 20px 400px;
    color: hsl(229, 6%, 66%);
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 2px hsl(229, 6%, 66%);
}

.green-card {
    grid-column: 1;
    border-style: solid;
    border-width: 4px;
    border-color: hsl(180, 62%, 55%) white white white;
}

.red-card {
    grid-column: 2;
    border-style: solid;
    border-width: 4px;
    border-color: hsl(0, 78%, 62%) white white white;
}


.yellow-card {
    grid-column: 2;
    border-style: solid;
    border-width: 4px;
    border-color: hsl(34, 97%, 64%) white white white;
}

.blue-card {
    grid-column: 3;
    border-style: solid;
    border-width: 4px;
    border-color: hsl(212, 86%, 64%) white white white;
}





